name: automatic release

on:
    push:
        tags:
            - v*

jobs:
    release:
        name: release
        runs-on: ubuntu-latest
        steps:
            - name: checkout
              uses: actions/checkout@v4
            - name: setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: '20.x'
                  cache: 'npm'
                  registry-url: 'https://registry.npmjs.org'
            - name: ci
              run: npm ci
            - name: build
              run: npm run build
            - name: deploy
              run: npm publish
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
